@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  margin-top: 20px;
}

.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #201e1e;
  color: white;
  position: sticky;
  width: 100%;
}
.nav-container .nav-heading {
  font-size: 28px;
  padding: 5px;
  padding-right: 8px;
}
.nav-container ul {
  margin-top: 8px;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  list-style: none;
}
.nav-container ul li a {
  font-size: 17px;
  padding: 15px;
  color: #aca6a6;
  transition: all 0.4s;
}
.nav-container ul li a:hover {
  color: white;
}
.nav-container ul #current-page a {
  color: white;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  #nav-ul {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    flex-direction: column;
  }
  #nav-ul a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #nav-ul a:hover {
    color: white;
  }
}
.search-bar {
  position: fixed;
  width: 100%;
  height: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #201e1e;
}