.about-container{
    margin-top:40px
}
.about{
    display:flex;
    justify-content:space-evenly;
}
.about>div>h1{
    margin-top:60px;
    text-align: center;
}
.paragraph{
    text-align: center;
    margin-right: -200px;
    padding: 20px;
    background-color: #333030;
    border-radius: 7px 25px 7px 25px;
    height: 300px;
}
p{
    color: white;
    font-size:20px;
    margin-top:70px;
    margin-bottom:30px;
}
.profile-img{
    width:230px;
    height:150px;
    margin-right: 70px;
    border-radius:30%;
}
.about{
    margin-top:20px;
}
.table{
    width: 40vw;
    margin-left: -150px;
    background-color:#333030;
    padding:30px;
    color:white;
    border-radius: 7px 25px 7px 25px;
}
span{
    text-align: center;
}
span>a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px 70px 15px 70px;
    border-radius:3px 20px 3px 20px;
    transition:0.6s;
}
span>a:hover{
    background-color: #ff6584;
    color: white;
}
.footer-container{
    background-color:#333030;
    color: antiquewhite;
    height: 50px;
}
.footer-container>h3{
    text-align: center;
    margin-top:23px;
}