.wrapper{
    min-height:40vw;    
    margin:auto;
    margin-top:80px;
}
.tutorial-index{
    background-color:#333030;
    margin: auto;
    min-height: 70vh;
    height:auto;
    width: 45%;
    padding: 30px;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 10px;
    color: white;
}
.tutorial-index>.title{
    font-size: 26px;
    font-weight: normal;
}
.author{
    
    color: rgb(141, 140, 140);
}
.content{
    word-spacing: 2px;
    color: rgb(231, 228, 228);
    font-size: 18px;
}
.footer-container{
    margin-top:66px;
    background-color:#333030;
    color: antiquewhite;
    height: 60px;
}
.footer-container>h3{
    text-align: center;
    margin-top:23px;
    padding-top: 20px;
}
