@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: #333030;
}

h1 {
    text-align: center;
}

hr {
    border-top: 1.5px solid #333030;
    margin-top: -8px;
    width: 0px;
    align-self: center;
    transition: 0.5s;
}

.nav-heading:hover+hr {
    border-top: 1.5px solid antiquewhite;
    width: 130px;
}

.nav-heading {
    cursor: pointer;
    color: antiquewhite;
    padding: 10px;
}

ul {
    margin-top: 7px;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    font-size:20px;
    padding: 7px 15px 7px 15px;
    border-radius: 5px 15px 0px 0px;
    transition: 0.6s;
}

li>a {
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}

li:hover {
    background-color: white;
    transition: 0.6s;
}

li:hover>a {
    color: #333030;
}

#current-page {
    background-color: white;
}

#current-page>a {
    color: #333030;
}

.body-container>h1 {
    color: white;
    background-color: #333030;
    padding: 12px;
    border-radius: 3px 20px 3px 20px;
    font-size:40px;
    margin-bottom:20px;
}

.body-container>h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom:8px;
}
.body-container{
    margin-top: 24vh;
    margin-left: 35vw;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-container>span{
    text-align: center;
    margin-top:20px;
}
.body-container>span>a{
    text-decoration: none;
    font-size: 22px;
    background-color:#333030;
    padding: 15px 70px 15px 70px;
    border-radius:3px 20px 3px 20px;
    color: white;
    transition:0.6s;
}
.body-container>span>a:hover{
    background-color: #ff6584;

}
.landing-container > img {
    margin-top: -250px;
}
.img-explore {
    float: right;
}

.flex-container{
    display: flex;
    flex-direction: column;
}
.video-container{
    background-color:#333030;
    color: antiquewhite;
    height: 350px;
    display: flex;
    justify-content: center;
}
.video-container>div{
    margin-top:140px;
    margin-right: 20vw;
}
.video-container>div>span{
    text-align: center;
}
.video-container>div>span>a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px 70px 15px 70px;
    border-radius:3px 20px 3px 20px;
    transition:0.6s;
}
.video-container>div>span>a:hover{
    background-color: #ff6584;
    color: white;
}
.tutorial-container{
    height: 350px;
}
.footer-container{
    background-color:#333030;
    color: antiquewhite;
    height: 50px;
}
.footer-container>h3{
    text-align: center;
    margin-top:23px;
}