body{
	background-color:white;
	color:#555;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}






section#register-form
{
	height: 550px;
	color:black;
	background-color: grey;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 50%;

}

form
{
    padding: 2em;
    margin: 2em;
}
.grid-item
{
    padding: 0.50em;
}

.grid-container 
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.textarea
{
    align-items: center;
    margin: 1.1em;
    padding: auto;
    display:flex;
}



section#login-form
{
	height: 500px;
	color:white;
	background-color: #333;
    align-items:center;
    margin: auto;
    padding: auto;
    width: 50%;

	
}

.login-container
{
	display: grid;
	text-align:center;
}

.login-item
{
 padding-left: auto;
 padding-right: auto;
 font-size: 2em;
 padding-top: 2em;
}
.footer-container{
    background-color:#333030;
    color: antiquewhite;
    height: 50px;
    padding-bottom: 34px;
}
.footer-container>h3{
    text-align: center;
    margin-top:23px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: #333030;
}

h1 {
    text-align: center;
}

hr {
    border-top: 1.5px solid #333030;
    margin-top: -8px;
    width: 0px;
    align-self: center;
    transition: 0.5s;
}

.nav-heading:hover+hr {
    border-top: 1.5px solid antiquewhite;
    width: 130px;
}

.nav-heading {
    cursor: pointer;
    color: antiquewhite;
    padding: 10px;
}

ul {
    margin-top: 7px;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    font-size:20px;
    padding: 7px 15px 7px 15px;
    border-radius: 5px 15px 0px 0px;
    transition: 0.6s;
}

li>a {
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}

li:hover {
    background-color: white;
    transition: 0.6s;
}

li:hover>a {
    color: #333030;
}

#current-page {
    background-color: white;
}

#current-page>a {
    color: #333030;
}